[flake8]
max-complexity = 10
exclude=.git,.venv,__pycache__
count = false
indent-size = 4
statistics = true
max-line-length = 140
extend-ignore = A003 G200 G004 VNE003 B008 A002 B006
inline-quotes = single
multiline-quotes = double
enable-extensions = G